@model OttoFlights.Models.Vol

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="id" type="hidden" asp-for="VolId" />
            <div class="form-group">
                <label asp-for="DatePrevue" class="control-label"></label>
                <input asp-for="DatePrevue" id="datePrevue" class="form-control" type="datetime-local" readonly />
                <span asp-validation-for="DatePrevue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRevue" class="control-label"></label>
                <input asp-for="DateRevue" id="dateRevue" class="form-control" type="time" />
                <span asp-validation-for="DateRevue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroVol" class="control-label"></label>
                <input asp-for="NumeroVol" id="numeroVol" class="form-control" />
                <span asp-validation-for="NumeroVol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agence" class="control-label"></label>
                <input asp-for="Agence" id="agence" class="form-control" />
                <span asp-validation-for="Agence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provenance" class="control-label"></label>
                <input asp-for="Provenance" id="provenance" class="form-control" />
                <span asp-validation-for="Provenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etat" class="control-label"></label>
                <select asp-for="Etat" id="etat" class="form-control">
                    <option value="Arrivé">Arrivé</option>
                    <option value="Retardé">Retardé</option>
                    <option value="Planifié">Planifié</option>
                    <option value="Annulé">Annulé</option>
                </select>
                <span asp-validation-for="Etat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="savebt" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Edit.js"></script>
}
